body {
    background: #d2d2c1 url('imagens/fundo.png');
    font: 16px Arial, Helvetica, sans-serif;
}

a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

a:hover {
    color: rgb(134, 102, 102);
}

h1 {
    color: #828271;
    font-size: 1.2em;
}

h2 {
    color: #828271;
    font-size: 1em;
}

#principal {
    width: 900px;
}

#menu {
    background: #c5c5b2;
    padding: 18px;
}

#conteudo {
    background: #e8e8d8;
    padding: 10px;
}

.imagem-biografia{
    padding: 5px;
    background-color: #c3c3ae;
}
.centralizar{
    text-align: center;
}